/* line 1, ../sass/colors.scss */
.light-orange {
  background: #f38844;
}

/* line 5, ../sass/colors.scss */
.light-green {
  background: #49b293;
}

/* line 8, ../sass/colors.scss */
.gray {
  background: #e3e3e3;
}
