/* line 5, ../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/layout.scss */
.layout {
  margin: 0 auto;
  overflow: hidden;
}

@media only screen and (max-width: 332px) {
  /* line 11, ../sass/layout.scss */
  .layout {
    width: 100%;
  }
}
@media only screen and (min-width: 333px) {
  /* line 18, ../sass/layout.scss */
  .layout {
    width: 100%;
  }
}
@media only screen and (min-width: 481px) {
  /* line 25, ../sass/layout.scss */
  .layout {
    width: 100%;
  }
}
@media only screen and (min-width: 769px) {
  /* line 32, ../sass/layout.scss */
  .layout {
    width: 90%;
  }
}
@media only screen and (min-width: 993px) {
  /* line 40, ../sass/layout.scss */
  .layout {
    width: 95%;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 47, ../sass/layout.scss */
  .layout {
    width: 1170px;
  }
}
@media only screen and (min-width: 1601px) {
  /* line 53, ../sass/layout.scss */
  .layout {
    width: 1300px;
  }
}
@media only screen and (max-width: 332px) {
  /* line 10, ../sass/media.scss */
  .course-circle {
    width: 18%;
    padding-top: 18%;
  }
}
@media only screen and (min-width: 333px) {
  /* line 17, ../sass/media.scss */
  .course-circle {
    width: 20%;
    padding-top: 20%;
  }
}
@media only screen and (min-width: 481px) {
  /* line 24, ../sass/media.scss */
  .course-circle {
    width: 20%;
    padding-top: 20%;
  }
}
@media only screen and (min-width: 769px) {
  /* line 31, ../sass/media.scss */
  .course-circle {
    width: 20%;
    padding-top: 20%;
  }
}
@media only screen and (min-width: 993px) {
  /* line 39, ../sass/media.scss */
  .course-circle {
    width: 14.285%;
    padding-top: 14.285%;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 46, ../sass/media.scss */
  .course-circle {
    width: 14.285%;
    padding-top: 14.285%;
  }
}
@media only screen and (min-width: 1601px) {
  /* line 52, ../sass/media.scss */
  .course-circle {
    width: 14.285%;
    padding-top: 14.285%;
  }
}
/* line 1, ../sass/colors.scss */
.light-orange {
  background: #f38844;
}

/* line 5, ../sass/colors.scss */
.light-green {
  background: #49b293;
}

/* line 8, ../sass/colors.scss */
.gray {
  background: #e3e3e3;
}

/* line 1, ../sass/sidebar.scss */
.sidebar {
  padding: 10px;
}
/* line 6, ../sass/sidebar.scss */
.sidebar .form-input {
  position: relative;
  width: 100%;
  padding-bottom: 10px;
  box-sizing: border-box;
}
/* line 12, ../sass/sidebar.scss */
.sidebar .form-input input[type=text] {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  border: none;
  line-height: 1.8em;
  font-size: 1em;
  padding: 0 5px;
}
/* line 23, ../sass/sidebar.scss */
.sidebar ul.list {
  box-sizing: border-box;
  position: relative;
  max-height: 500px;
  overflow: hidden;
  overflow-y: auto;
  padding-right: 10px;
}
/* line 33, ../sass/sidebar.scss */
.sidebar ul.list li.item {
  line-height: 35px;
  padding: 5px 0px;
  border-bottom: 1px solid #aaa;
  max-width: 100%;
}
/* line 40, ../sass/sidebar.scss */
.sidebar ul.list li.item .code {
  display: inline-block;
  line-height: 15px;
  font-size: 0.75em;
  border-bottom: 1px solid blue;
}
/* line 47, ../sass/sidebar.scss */
.sidebar ul.list li.item .name {
  line-height: 25px;
  font-size: 0.9em;
}
/* line 53, ../sass/sidebar.scss */
.sidebar ul.list li.item:last-child {
  border-bottom: none;
}

/* line 8, ../sass/main.scss */
* {
  box-sizing: border-box;
}

/* line 14, ../sass/main.scss */
.layout .sidebar {
  position: absolute;
  width: 200px;
  background: #e3e3e3;
  margin-top: 40px;
}
/* line 24, ../sass/main.scss */
.layout .stage {
  position: relative;
  left: 200px;
  width: calc(100% - 200px);
  overflow: hidden;
  padding: 15px;
}
/* line 32, ../sass/main.scss */
.layout .stage #graph {
  width: 100%;
  height: 100%;
  background: #e3e3e3;
  margin: auto;
}

/* line 47, ../sass/main.scss */
div.course-circle {
  float: left;
  position: relative;
  border-radius: 100%;
  overflow: hidden;
}
/* line 55, ../sass/main.scss */
div.course-circle div {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  z-index: 10;
  padding: 10%;
  top: 0;
  left: 0;
}
/* line 66, ../sass/main.scss */
div.course-circle div .inner {
  position: relative;
  width: 90%;
  height: 90%;
  border-radius: 100%;
  cursor: pointer;
  color: black;
  transition: box-shadow 0.3s, background 1s, color 1s;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 79, ../sass/main.scss */
div.course-circle div .inner.secondary {
  background: white;
  color: #ddd;
  transition: box-shadow 0.3s, background 1s, color 1s;
}
/* line 84, ../sass/main.scss */
div.course-circle div .inner span {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.9em;
  font-family: Arial;
  padding: 0;
}

/* line 97, ../sass/main.scss */
.up-4 {
  box-shadow: 0 0 18px 0px #888;
  transition: box-shadow 0.3s;
}

/* line 102, ../sass/main.scss */
.up-2 {
  box-shadow: 0 0 10px 0px #999;
  transition: box-shadow 0.3s;
}

/* line 107, ../sass/main.scss */
.coursetabid {
  display: none;
}
