// normal bootstrap
$xs-width:       332px;  // > xtra xtra small                  //
$sm-width:       480px;  // > xtra small                       //
$md-width:       768px;  // > small && < medium                //
$lg-width:       992px;  // > medium && < large                //ipad mini
$xl-width:       1200px; // > large  && < xtra large: ;        //
$xxl-width:      1600px; // > xtra large && < xtra xtra large: //;

// normal bootstrap
$xxsm-layout-width:  100%;
$xsm-layout-width:   100%;
$sm-layout-width:    100%;
$md-layout-width:    90%;
$lg-layout-width:    95%;
$xlg-layout-width:   1170px;
$xxlg-layout-width:  1300px;


$width-xxsm: 18%;
$width-xsm: 20%;
$width-sm: 20%;
$width-md: 20%;
$width-lg: 14.285%;
$width-xlg: 12.5%;